.wd-rounded-top{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.wd-rounded-bottom{
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.wd-more-options{
    right: 40px;
    bottom: 35px;
}