body {
    /*font-family: "Arial";*/
    /*background-color: black;*/
    /*color: white;*/
}

.wd-search-tuiter {
    bottom: 7px;
    left: 10px;
}

.wd-nav-tabs {
    width: 100%;
    color: rgb(29,161,242);
    padding: 0px;
}

.wd-nav-tabs li {
    list-style-type: none;
    display: inline-block;
}

.wd-nav-tabs .wd-selected {
    border-bottom: solid 4px rgb(29,161,242);
}

.wd-search-icon{
    bottom: 10px;
    left: 5px;
    color: lightgray;
}
.wd-padding-search-text {
    padding-left: 30px;
}

.wd-date-stat{
    left: 120px;
    bottom: 0px;
}

.wd-hour-stat{
    left: 90px;
    bottom: 0px;
}

.wd-follow-button{
    right:12px
}

.wd-side-bar-text{
    color: lightgrey;
}
.wd-side-icon{
    color: lightgray;
}
.wd-selected-nav{
    border-bottom-width: 5px;
    border-bottom: dodgerblue;
}
.wd-small-text-image{
    bottom: 55px;
    left: 10px;
    z-index: 5;
}

.wd-selected {
    border-bottom: solid 4px rgb(29, 161, 242);
    border-bottom-left-radius: 2px ;
    border-bottom-right-radius: 2px;
    border-bottom-height: 2px;
    padding-bottom:7px;
    padding-left: 0px;
    padding-right: 0px;
}

.wd-border{
    border-left: 2px ;
    border-right: 2px;
    color: lightgray;
    background-color: red;
}

.wd-rounded-top{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.wd-rounded-bottom{
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

