.wd-search-bar-content {
    color: white;
    background-color: darkgray;
    width: 90%;
    height: 30px;
    margin-left: 16px;
    border-radius: 20px;
    padding: 1px 2px
}

.wd-gear-setting {
    float: right;
    margin-right: 12px;
    font-size: 30px;
    text-decoration-line: none;
    color: dodgerblue;
}

.wd-more-options {
    float: right;
    margin-right: 12px;
    font-size: 20px;
    text-decoration-line: none;
}
.wd-hr {
    border: none;
    margin-top: 0px;
    height: 12px;
    background: rgb(47, 51, 54);
}

.wd-nav-tabs {
    color: rgb(29, 161, 242);
    width: 100%;
    display: inline-block;
}

.wd-nav-tabs .wd-selected {
    border-bottom: solid 4px rgb(29, 161, 242);
}

.wd-nav-tabs .wd-not-selected {
    color: rgb(110, 118, 125);
}

.wd-nav-tabs li {
    list-style-type: none;
    display: inline-block;
    border: 2px solid black;
    padding: .5em;
}

.wd-for-you {
    border: 1px solid rgb(110, 118, 125);
    padding: 15px;
}
.fg-color-for-you { color: rgb(110, 118, 125); }

.wd-for-you .wd-h3 {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}
.wd-for-you .wd-h1 {
    margin: 1px;
    padding: 1px;
    font-size: 20px;
}

.wd-for-you .wd-detailed-messages {
    margin: 1px;
    padding: 1px;
    font-size: 20px;
    width: 80%;
    float: left;
}
.wd-for-you .wd-titles-view-likes {
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 0px;
    font-size: 14px;
}

.wd-titles-view-likes-white {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    color: white;
}

.wd-img-for-you {
    border-radius: 20%;
    float: right;
    margin-right: 16px;
    padding: 0px;
    width: 100px;
    height: 100px;
}

.wd-img-for-you-small {
    border-radius: 30%;
    float: left;
    width: 15px;
}
.wd-img-for-you-small2 {
    border-radius: 50%;
    float: none;
    width: 15px;
}




