.wd-for-you {
    border: 1px solid rgb(110, 118, 125);
    padding: 15px;
}


.wd-avatar-placeholder {
    float: left;
    /*margin-right: 16px;*/
    padding-left: 16px;
    padding-top: 12px;
    padding-right: 12px;
}

.wd-img-avatar{
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.wd-page-title {
    font-size: 20px;
    padding-left: 16px;
    color: white;
    padding-top: 12px;
}
.wd-username {
    font-size: 13px;
    color: lightgray;
    padding-left: 16px;
    padding-top: 0px;
}

.wd-club-title-user {
    float: left;
    padding-bottom: 12px;
}

.wd-more-options{
    float: right;
    color: dodgerblue;
    padding-right: 16px;
}

.wd-more-options-gray{
    float: right;
    color: darkgray;
    margin-right: 16px;
}

.wd-content-placeholder{
    padding-right: 16px;
    padding-top: 12px;
    max-width: 506px;
    float: left;

}

.wd-name-info{
    color: white;
    font-size: 15px;
}

.wd-id-info{
    color: lightgray;
    font-size: 15px;
    margin-top: 12px;
}

.wd-tuit-info{
    color: white;
    font-size: 15px;
}

.wd-tuit-reference-img{
    width: 504px;
    height: 264px;
    padding-top: 12px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.wd-ref-image-border{
    border:1px solid dimgray;
    padding-top: 12px;
    border-top: 0px;

}

.wd-tuit-ref-image-info{
    border: 1px solid rgb(47, 51, 54);
    padding: 12px;
    margin-top: -10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.wd-tuit-ref-image-title{
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
}

.wd-tuit-ref-image-content{
    font-size: 15px;
    color: lightgray;


}

.wd-tuit-ref-image-link{
    font-size: 15px;
    color: lightgray;
}

.wd-tuit-icons{
    display: inline-block;
    padding: 0px;
    width: 100%;
    margin-top: 12px;
}

.wd-tuit-icons > .wd-icons{
    display: inline-block;
    padding-right: 12px;
    justify-content: space-around ;

}

.wd-tuit-icons > .wd-icons > .wd-icon-info{
    color: lightgray;
    font-size: 15px;
    padding-right: 12px;
    padding-left: 12px;

}

.wd-tuit-icons > .wd-icons > .wd-icon-info-heart{
    color: red;
    font-size: 15px;
    padding-right: 12px;
    padding-left: 12px;
}

.wd-spacing{
    padding-left: 12px;
    padding-right: 12px;
}

.wd-icon-links{
    color: darkgray;
    text-decoration: None;
}
.wd-icon-links-red{
    color: red;
    text-decoration: None;
}
